
.none {
    display: none !important; 
}

.btn_ONOFF {
    z-index: 1; 
    position: fixed;
    right: 1px ; 
    top: 1px;

    border: 1px;
    border-color: black;
    border-style: dotted;
    width: 30px;
    height: 30px;
    background: none;
}

.Auto_inhouse {
    border: 1px;
    border-color: black;
    border-style: dotted;

    /* width: calc(50% - 352px); */
	position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1; 
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.Auto_inhouse >  *{
    /* padding: 0px 20px 0px 0px; */
    border: none;
    border-radius: 5px;
    margin-right: 3px;
    background-color: rgb(241, 241, 241);
    text-align: center;
}

/* search============================================================= */

.search_container {
    background: transparent;
}

.search_box {
    /* display: flex; */
    width: 40px;
    height: 40px;
    overflow: hidden;
    position: relative;
    border-radius: 5px;
    background: #000;

    transition: all 0.5s ease;
}

.search_box .search_button_box {
    background-color: #E54A2B;
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 40px;
    font-size: 12px;
    border: none;
    outline: none;
}

.search_box .search_input_box {
    width: 100%;
    height: 100%;
}

.search_box .search_button_box .search_button_icon {
    width: 20px;
    height: 100%;
}

.search_box .search_input_box .in_search_LDP {
    width: 100%;
    height: 100%;
    border: none;
    background: transparent;
    color: white;
    padding: 0 60px 0 10px;
    font-size: 22px;
    outline: none;
}

.search_box .search_input_box .in_search_LDP::placeholder {
    font-size: 15px;
}
/* ========================= */
/* width */
.search_result_box::-webkit-scrollbar {
    width: 10px;

  }
  
  /* Track */
.search_result_box::-webkit-scrollbar-track {
     
    border-radius: 10px;
  }
   
  /* Handle */
.search_result_box::-webkit-scrollbar-thumb {
    
    background: grey; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
.search_result_box::-webkit-scrollbar-thumb:hover {
    background: #E54A2B; 
}
/* ========================= */
.search_result_box {
    transition: all 0.5s ease;
    background-color: white;
    width: 0;
    height: 0;
    max-height: 200px;
    overflow: auto;
    
}

.search_result_box .search_result_item {
    background:#e5e5e5;
    margin: 10px 0;    
    display: flex;

    border-radius: 10px;
    overflow: hidden;
}

/* ====================================================================== */
.search_result_L1,
.search_result_L2 {
    align-self: stretch; 
    flex-basis: 22%; 
    margin: 0 5px;
    display: flex;
    justify-content: center;
}

.search_result_L3 {
    align-self: stretch; 
    flex-basis: 56%; 
    margin: 0 5px;
    display: flex;
    justify-content: center;
}

.search_result_L1 > label,
.search_result_L2 > label,
.search_result_L3 > label {
    align-self: center;  
    justify-content: center;
    cursor: pointer;
    padding: 10px 0;
}
/* ====================================================================== */

