
.none {
    display: none !important; 
}

.btn_ONOFF {
    z-index: 1; 
    position: fixed;
    right: 1px ; 
    top: 1px;

    border: 1px;
    /* border-color: black;
    border-style: dotted; */
    width: 30px;
    height: 30px;
    background: none;
    transition: all 0.2s ease;
}

.btn_ONOFF:hover {
    background-color: #E54A2B;
}

.Auto_inhouse {
    /* border: 1px;
    border-color: black;
    border-style: dotted; */

    /* width: calc(50% - 352px); */
	position: fixed;
    top: 2px;
    left: 2px;
    z-index: 1; 
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.Auto_inhouse >  *{
    /* padding: 0px 20px 0px 0px; */
    border: none;
    border-radius: 5px;
    margin-right: 3px;
    background-color: rgb(241, 241, 241);
    text-align: center;
}

/* search============================================================= */

.search_container {
    background: transparent;
}

.search_box {
    /* display: flex; */
    width: 40px;
    height: 40px;
    overflow: hidden;
    position: relative;
    border-radius: 5px;
    background: rgb(255, 255, 255);
    transition: all 0.5s ease;    
}

/* .search_box:hover {
    border-color: #E54A2B;
    border: solid 1px;
} */

.search_box .search_button_box {
    background-color: #E54A2B;
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 40px;
    font-size: 12px;
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    font-size: 15px;
    cursor: pointer;
}

.search_box .search_input_box {
    width: 100%;
    height: 100%;
    transition: border .2s ease-in-out;
    border: 1.5px solid #e5e5e5;
    outline: none;
    border-radius: 5px;
}

.search_input_box:hover {

    border-color: #e54a2b;
    border-left-color: #e54a2b;
    border-top-color: #e54a2b;
    border-bottom-color: #e54a2b;
    
}

.search_box .search_button_box i {
    color: white;
    align-self: center;
}

.search_box .search_input_box .in_search_LDP {
    width: 100%;
    height: 100%;
    border: none;
    background: transparent;
    color: #333;
    padding: 0 60px 0 10px;
    font-size: 15px;
    outline: none;
}

.search_box .search_input_box .in_search_LDP::placeholder {
    font-size: 15px;
}
/* ========================= */
/* width */
.search_result_box::-webkit-scrollbar {
    cursor: pointer !important;
    width: 10px;
  }
  
  /* Track */
.search_result_box::-webkit-scrollbar-track {
    border-radius: 10px;
  }
   
  /* Handle */
.search_result_box::-webkit-scrollbar-thumb {
    background: grey; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
.search_result_box::-webkit-scrollbar-thumb:hover {
    background: #E54A2B; 
}
/* ========================= */
.search_result_box {
    transition: all 0.5s ease;
    background-color: white;
    width: 0;
    height: 0;
    max-height: 200px;
    overflow: auto;    
}

.search_result_box .search_result_item {
    background:#e5e5e5;
    margin: 10px 0;    
    display: flex;
    border-radius: 10px;
    overflow: hidden;
}

/* ====================================================================== */
.search_result_L1,
.search_result_L2 {
    align-self: stretch; 
    flex-basis: 22%; 
    margin: 0 5px;
    display: flex;
    justify-content: center;
}

.search_result_L3 {
    align-self: stretch; 
    flex-basis: 56%; 
    margin: 0 5px;
    display: flex;
    justify-content: center;
}

.search_result_L1 > label,
.search_result_L2 > label,
.search_result_L3 > label {
    align-self: center;  
    justify-content: center;
    cursor: pointer;
    padding: 10px 0;
}
/* ====================================================================== */
.search_result_box {
    position: relative;
}
.search_result_Explain {
    position: fixed;
    left: calc(50% - 352px);
    top: 50px;
    background-color: #333;
    color: #fff;
    padding: 5px;
    font-size: 12px;
    border-radius: 5px;
    text-align: start;
    max-width: 500px;
    transition: all 0.2s ease;
    transform: scale(0);
    opacity: 0;
}

.search_result_item:hover .search_result_Explain{
    transform: scale(1);
    opacity: 1;
}

@keyframes eopen {
    from {
        opacity: 0;
    }to{
        opacity: 1;
    }
}
@keyframes eclose {
    from {
        opacity: 1;
    }to{
        opacity: 0;
    }
}


.search_box_width {
    width: calc(50vw - 355px);
}
.search_result_box.search_box_width{
    height: 100%;
}
